@using ElsWebApp.Models
@using ElsWebApp.Services
@model TaskStatusViewModel
@{
    Layout = "_BaseLayout";
}

<div class="sub-container" id="sub-container">
    <div class="content-main">
        <div class="accordion d-flex" id="accordionSearch">
            <div class="accordion-item">
                <div class="accordion-header" id="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="adjustTableHeight(this)">
                        検索条件
                    </button>
                </div>
                <form method="POST" asp-controller="AdminTaskStatus" asp-action="ShowStudentsCourseStatus">
                    @if (Model.TaskStatusList != null)
                    {
                        <div id="collapseOne" class="accordion-collapse collapse show mt-2 mr-2" data-bs-parent="#accordionSearch">
                            <div class="d-flex">
                                <div class="input-container searchInput">
                                    <label>法人名:</label>
                                    @if (Model.UserRole == ConstService.SystemCode.SYSCODE_USR_CORPO)
                                    {
                                        <input class="form-control" type="text" id="companyName" name="companyName" value="@Model.CompanyName" disabled>
                                    }
                                    else
                                    {
                                        <input class="form-control" type="text" id="companyName" name="companyName" value="@Model.UserEnteredCorporateName" disabled>
                                    }
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="input-container searchInput">
                                    <label>受講者名:</label>
                                    <input class="form-control" type="text" id="userName" name="userName" value="@Model.TaskStatusList[0].UserName" disabled>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="input-container courseSelect">
                                    <label id="cources">講座名:</label>
                                    <select class="form-select" asp-items="@Model.CoursesList" class="form-control" name="courseId" id="courseId" data-cource="@Model.UserEnteredCourse" disabled>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>セクション名</th>
                        <th>開始日</th>
                        <th>終了日</th>
                        <th>学習状況</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TaskStatusList != null)
                        @foreach (var task in Model.TaskStatusList)
                        {
                            <tr id="tr_@task.UserId">
                                <td id="chapter">@task.ChapterName</td>
                                <td id="startDatetime">@(task.StartDatetime.HasValue ? task.StartDatetime.Value.ToString("yyyy/MM/dd") : "")</td>
                                <td id="endDatetime">@(task.EndDatetime.HasValue ? task.EndDatetime.Value.ToString("yyyy/MM/dd") : "")</td>
                                <td id="progress">
                                    @if (task.Status == ConstService.SystemCode.SYSCODE_STS_STUDYING)
                                    {
                                        <span class="badge rounded-pill bg-primary">学習中</span>
                                    }
                                    else if (task.Status == ConstService.SystemCode.SYSCODE_STS_COMPLETE)
                                    {
                                        <span class="badge rounded-pill bg-success">完了</span>
                                    }
                                    else
                                    {
                                        <span class="badge rounded-pill bg-secondary">---</span>
                                    }
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        <form method="POST" asp-controller="AdminTaskStatus" asp-action="SearchTaskStatus" id="returnSearchedKeyWords">
            <input type="hidden" id="userId" name="userId" />
            <input type="hidden" id="enteredUserName" name="userName" value="@Model.UserEnteredName" />
            <input type="hidden" id="enteredCompanyName" name="companyName" value="@Model.UserEnteredCorporateName" />
            <input type="hidden" id="enteredCourse" name="courseId" value="@Model.UserEnteredCourse" />
        </form>
    </div>
</div>
@section scripts {
    <script src="~/js/AdminTaskStatus.js" asp-append-version="true" charset="shift_jis"></script>
    <script src="~/js/ModalDialog.js?" asp-append-version="true"></script>
}